* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 30px;
  color: #242b37;
}

.header__textbox-title {
  font-size: 8rem;
  font-weight: 300;
  line-height: 80px;
}
.header__textbox-text {
  font-weight: 400;
  font-size: 2rem;
}

.button {
  font-size: 1.7rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.button--light {
  color: white;
}

.about__content-header {
  font-size: 4.8rem;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.about__content-text {
  font-size: 2rem;
  line-height: 3rem;
}

.highlights {
  color: #fff;
}
.highlights__content-header {
  font-size: 4.8rem;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.highlights__content-text {
  font-size: 2rem;
  line-height: 3rem;
}
.highlights__item--heading {
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.highlights__item--text {
  font-size: 1.8rem;
  line-height: 26px;
}

.card__heading {
  font-size: 4.8rem;
  letter-spacing: -0.5px;
  font-weight: 700px;
}
.card__text {
  font-size: 2rem;
  line-height: 30px;
}
.card__listtext {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.7rem;
  font-weight: 600;
  opacity: 50%;
}
.card__listtext:hover {
  opacity: 100%;
}

.card__list-item.active p {
  opacity: 100%;
}

.booking__heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
}

.footer {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.booking__header__textbox-title {
  font-size: 8rem;
  font-weight: 300;
  letter-spacing: -1px;
}
.booking__header__textbox-text {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

.input-box {
  font-weight: 300;
  font-family: inherit;
  opacity: 0.5;
  font-size: 1.8rem;
  line-height: 1.556;
  letter-spacing: -0.22px;
  color: #111;
}

.form__label {
  font-size: 1.8rem;
  line-height: 1.556;
  letter-spacing: -0.22px;
  font-weight: 300;
  color: #111;
}

.form__select {
  opacity: 0.5;
}

.form__text__number {
  font-weight: 700;
  font-size: 2rem;
  color: #111;
}

.dropdown__selected {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.556;
  letter-spacing: -0.22px;
  color: #111;
}

.t-form {
  font-size: 1.8rem;
  line-height: 1.556;
  letter-spacing: -0.22px;
  color: #111;
}

.t-form--regular {
  font-weight: 300;
}

.container {
  padding: 0 165px;
}

.header {
  height: 820px;
  background-image: linear-gradient(to right, #111 30%, transparent 30%), url(../../images/homepage/hero-bg-desktop.jpg);
  background-size: cover;
  color: white;
}
.header__logo {
  padding-top: 65px;
  margin-bottom: 153px;
}
.header__textbox {
  display: flex;
  flex-direction: column;
}
.header__textbox-title {
  margin-bottom: 10px;
  width: 508px;
}
.header__textbox-text {
  width: 445px;
  margin-bottom: 40px;
}

.about {
  background-image: url(/images/patterns/pattern-curve-top-right.svg);
  background-position-y: 26.2rem;
  background-repeat: no-repeat;
}
.about__first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__second {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.about__image--first {
  transform: translateY(-7rem);
  margin-right: 125px;
}
.about__image--second {
  transform: translateY(7rem);
  margin-left: 125px;
}
.about__image-box {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__image-box--first {
  background-image: url(../../images/homepage/enjoyable-place-desktop@2x.jpg);
  height: 720px;
  width: 540px;
}
.about__image-box--second {
  background-image: url(../../images/homepage/locally-sourced-desktop@2x.jpg);
  height: 720px;
  width: 540px;
  position: relative;
}
.about__image-box--second::after {
  content: url(../../images/patterns/pattern-lines.svg);
  position: absolute;
  right: -90px;
  top: 40%;
}
.about__content {
  max-width: 44.5rem;
  transform: translateY(-4rem);
}
.about__content--first svg {
  margin-bottom: 55px;
}
.about__content--second svg {
  margin-bottom: 55px;
}
.about__content-header {
  margin-bottom: 27px;
}

.highlights__content {
  max-width: 44.5rem;
}
.highlights__content-header {
  margin-bottom: 27px;
  position: relative;
}
.highlights__content-header::before {
  content: url("/images/patterns/pattern-divide.svg");
  position: absolute;
  left: 0;
  top: -100px;
}
.highlights__content--right {
  width: 54rem;
  height: 38.6rem;
  display: flex;
  flex-direction: column;
}
.highlights__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 16px 0;
}
.highlights__item:not(:first-child) {
  padding: 16px 0;
}
.highlights__item:not(:last-child) {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}
.highlights__item-img {
  position: relative;
}
.highlights__item-img::after {
  content: " ";
  width: 3.2rem;
  height: 1px;
  background-color: #937f66;
  position: absolute;
  right: -32px;
  top: 1.6rem;
}
.highlights__item-textbox {
  max-width: 350px;
}
.highlights__item--heading {
  margin-bottom: 6px;
}

.cards {
  background-image: url(/images/patterns/pattern-curve-top-right.svg);
  background-position-y: 0rem;
  background-position-x: -30rem;
  background-repeat: no-repeat;
}

.booking {
  width: 100%;
  height: 240px;
  background-image: url(/images/homepage/ready-bg-desktop@2x.jpg);
  background-size: cover;
  background-position: center;
}
.booking__container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  height: 24rem;
  background-color: #111;
}
.footer__container {
  max-width: 110rem;
  display: flex;
  align-items: flex-start;
  padding: 7rem 0 0 16.5rem;
}
.footer--middle {
  display: flex;
  flex-direction: column;
  margin-right: 124px;
  margin-left: 193px;
}

.logo__link {
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 64px;
  transition: all 0.3s;
  cursor: pointer;
}
.button--light {
  background-color: #111;
  border: 1px solid #fff;
  cursor: pointer;
}
.button--light:hover {
  background-color: #fff;
  color: #111;
}
.button--transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.button--transparent:hover {
  background-color: #fff;
  color: #111;
}

.card__button:hover {
  border: 1px solid #111;
}

.form__button {
  width: 444px;
  height: 64px;
  background-color: #111;
  transition: all 0.3s;
  color: #fff;
  border: none;
}
.form__button:active, .form__button:hover {
  color: #111;
  background-color: #fff;
  border: 1px solid #111;
}

.card {
  display: flex;
  align-items: center;
  position: relative;
}
.card__picture {
  transition: all 1s;
}
.card::after {
  content: url("/images/patterns/pattern-lines.svg");
  position: absolute;
  top: -30px;
  left: -30px;
}
.card--right {
  margin-left: 115px;
}
.card--textbox {
  max-width: 44.5rem;
  margin-bottom: 60px;
}
.card__heading {
  margin-bottom: 19px;
}
.card__list {
  margin-top: 79px;
  list-style: none;
}
.card__list-item:not(:last-child) {
  margin-bottom: 12px;
}
.card__list-item {
  cursor: pointer;
  position: relative;
}
.card__list-item-line {
  display: none;
}
.card__list-item.active .card__list-item-line {
  display: block;
  width: 95px;
  height: 1px;
  background-color: #937f66;
  position: absolute;
  top: 50%;
  transform: translate(-12.5rem, -0.2rem);
}

.hide {
  display: none;
}

.booking__form {
  margin-left: 125px;
  height: 545px;
  width: 540px;
  padding: 4.8rem;
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5);
  position: relative;
}
.booking__form::after {
  content: url(../../images/patterns/pattern-lines.svg);
  position: absolute;
  bottom: -50px;
  left: -50px;
  z-index: -10;
}

.screen__reader {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

.form__text {
  margin-bottom: 3.2rem;
}

.input-box {
  width: 100%;
  caret-color: #937f66;
  border: none;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #8e8e8e;
  -webkit-transition: 300ms ease-in-out border-color, 300ms ease-in-out opacity;
  transition: 300ms ease-in-out border-color, 300ms ease-in-out opacity;
  cursor: pointer;
}
.input-box:focus {
  opacity: 1;
  border-bottom: 1px solid #111;
  outline: none;
}
.input-box--small {
  width: 8rem;
}

.form__date,
.form__month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.form__select {
  height: 100%;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
.form__select:focus {
  opacity: 1;
  border-bottom: 1px solid #111;
  outline: none;
}

.form__input__containers {
  width: 28.9rem;
  display: flex;
  justify-content: space-between;
}

.form__number-picker {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #111;
  margin-bottom: 3.2rem;
}
.form__number-picker__button {
  background: none;
  border: none;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #111;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-transition: 300ms ease-in-out opacity;
  transition: 300ms ease-in-out opacity;
}

.dropdown__arrow {
  transition: all 0.3s;
  margin-left: 1.5rem;
}

.dropdown__items {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  padding: 1.6rem;
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(56, 66, 85, 0.25);
  box-shadow: 0 1.5rem 2.5rem rgba(56, 66, 85, 0.25);
  -webkit-transform: translate(-1.6rem, 9rem);
  transform: translate(-1.6rem, 9rem);
}

.open {
  transform: scaleY(-1) translateY(0.4rem);
}

.dropdown__item__checkmark {
  margin-right: 1.557rem;
  opacity: 0;
}

.dropdown__item__checkmark.checked {
  opacity: 1;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.dropdown__items.open {
  display: block;
}

.dropdown__items {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 1.6rem;
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(56, 66, 85, 0.25);
  box-shadow: 0 1.5rem 2.5rem rgba(56, 66, 85, 0.25);
  -webkit-transform: translate(-1.6rem, 9rem);
  transform: translate(-1.6rem, 9rem);
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__items.open {
  display: block;
}

.about__container {
  max-width: 110rem;
  margin: 0 auto;
}

.highlights {
  height: 761px;
  background-color: #111;
}
.highlights__container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 250px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards__container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 200px 0;
}

.booking__header {
  height: 600px;
  background-image: url(../../images/booking/hero-bg-desktop@2x.jpg);
  background-size: cover;
  color: white;
}
.booking__header__logo {
  padding-top: 65px;
  margin-bottom: 153px;
}
.booking__header__content {
  display: flex;
  align-items: flex-start;
}
.booking__header__textbox {
  display: flex;
  flex-direction: column;
}
.booking__header__textbox-title {
  margin-bottom: 2rem;
  max-width: 508px;
}
.booking__header__textbox-text {
  max-width: 445px;
  margin-bottom: 40px;
}

.section__decoration {
  height: 320px;
}

/*# sourceMappingURL=style.css.map */
