@use "../abstracts/" as a;

.card {
  display: flex;
  align-items: center;
  position: relative;

  @include a.respond(tab-land) {
    flex-direction: column;
  }

  &__picture {
    transition: all 1s;
  }

  &::after {
    content: url("/images/patterns/pattern-lines.svg");
    position: absolute;
    top: -30px;
    left: -30px;
  }

  &--right {
    margin-left: 115px;
    @include a.respond(tab-land) {
      order: 2;
      margin-left: 0;

      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    @include a.respond(tab-land) {
      order: 3;
    }
  }

  &--textbox {
    max-width: 44.5rem;
    margin-bottom: 60px;

    @include a.respond(tab-land) {
      order: 2;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60px;
      max-width: 485px;
    }
  }

  &__heading {
    margin-bottom: 19px;
  }

  &__list {
    margin-top: 79px;
    list-style: none;

    @include a.respond(tab-land) {
      order: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 689px;
      margin-top: 57px;
      margin-bottom: 47px;
    }

    @include a.respond(tab-small) {
      max-width: 600px;
    }

    &-item:not(:last-child) {
      margin-bottom: 12px;
    }

    &-item {
      cursor: pointer;
      position: relative;

      &-line {
        display: none;
      }

      &.active &-line {
        display: block;
        width: 95px;
        height: 1px;
        background-color: a.$primary-brown;
        position: absolute;
        bottom: 50%;
        transform: translate(-12.5rem, -0.2rem);

        @include a.respond(tab-land) {
          width: 48px;
          bottom: -7px;
          left: 50%;
          transform: translatex(-50%);
        }
      }
    }
  }
}

.hide {
  display: none;
}
