@use "../abstracts/" as a;

.booking__header {
  height: 600px;
  background-image: url(../../images/booking/hero-bg-desktop@2x.jpg);
  background-size: cover;
  color: white;

  &__logo {
    padding-top: 65px;
    margin-bottom: 153px;
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @include a.respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;

    @include a.respond(tab-land) {
      text-align: center;
      align-items: center;
    }

    &-title {
      margin-bottom: 4rem;
      max-width: 508px;
    }
    &-text {
      max-width: 445px;
      margin-bottom: 40px;

      @include a.respond(tab-land) {
        max-width: 573px;
      }
    }
  }
}

.section__decoration {
  height: 320px;
  content: url("/images/patterns/pattern-curve-bottom-right.svg");
  @include a.respond(tab-land) {
    content: "";
    height: 500px;
  }
}
