@use "../abstracts/" as a;

.about {
  &__container {
    max-width: 110rem;
    margin: 0 auto;

    @include a.respond(tab-port) {
      max-width: 573px;
    }
  }
}

.highlights {
  height: 761px;
  background-color: a.$primary-black;

  @include a.respond(tab-land) {
    height: 891px;
  }

  @include a.respond(phone) {
    height: 1720px;
  }

  &__container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 250px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include a.respond(tab-land) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 150px 0;
    }

    @include a.respond(phone) {
      padding: 100px 0;
    }
  }
}

.cards {
  &__container {
    max-width: 110rem;
    margin: 0 auto;

    padding: 200px 0;

    @include a.respond(tab-land) {
      max-width: 683px;

      padding: 100px 0;
    }

    @include a.respond(phone) {
      padding: 50px 0;
    }
  }
}
