@use "../abstracts/" as a;

.footer {
  height: 24rem;
  background-color: a.$primary-black;

  @include a.respond(phone) {
    height: 44rem;
  }

  &__container {
    max-width: 110rem;
    display: flex;
    align-items: flex-start;
    padding: 7rem 0 0 16.5rem;

    @include a.respond(tab-port) {
      padding: 7rem 0 0 3.9rem;
      max-width: 44.5rem;
    }

    @include a.respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 42px;

      padding: 7rem 0 0 0rem;: 
    }
  }

  &--middle {
    display: flex;
    flex-direction: column;
    margin-right: 124px;
    margin-left: 193px;

    @include a.respond(tab-port) {
      margin-right: 50px;
      margin-left: 50px;
    }

    @include a.respond(phone) {
      margin: 0;
    }
  }
}

.logo__link {
  cursor: pointer;
}
