@use "../abstracts/" as a;

.footer {
  height: 24rem;
  background-color: a.$primary-black;

  &__container {
    max-width: 110rem;
    display: flex;
    align-items: flex-start;
    padding: 7rem 0 0 16.5rem;

    @include a.respond(tab-port) {
      padding: 7rem 0 0 3.9rem;
    }
  }

  &--middle {
    display: flex;
    flex-direction: column;
    margin-right: 124px;
    margin-left: 193px;

    @include a.respond(tab-port) {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}

.logo__link {
  cursor: pointer;
}
