@use "../abstracts/" as a;

.highlights {
  &__content {
    max-width: 44.5rem;

    @include a.respond(tab-land) {
      text-align: center;
      max-width: 57.3rem;
      margin-bottom: 54px;
    }

    &-header {
      margin-bottom: 27px;
      position: relative;

      &::before {
        content: url("/images/patterns/pattern-divide.svg");
        position: absolute;
        left: 0;
        top: -100px;

        @include a.respond(tab-land) {
          top: -75px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @include a.respond(phone) {
        max-width: 32.7rem;
      }
    }

    &-text {
      @include a.respond(tab-land) {
        margin: 0 auto;
        max-width: 44.5rem;
      }

      @include a.respond(phone) {
        max-width: 32.7rem;
      }
    }

    &--right {
      width: 54rem;
      height: 38.6rem;
      display: flex;
      flex-direction: column;

      @include a.respond(tab-land) {
        width: 57.3rem;
      }

      @include a.respond(phone) {
        width: 32.7rem;
        margin-top: 50px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 16px 0;

    &:not(:first-child) {
      padding: 16px 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(151, 151, 151, 0.15);
      @include a.respond(phone) {
        padding: 16px 0 56px 0px;
      }
    }

    @include a.respond(phone) {
      flex-direction: column;
      max-width: 327px;
    }

    &-img {
      position: relative;
      &::after {
        content: " ";
        width: 3.2rem;
        height: 1px;
        background-color: a.$primary-brown;
        position: absolute;
        right: -32px;
        top: 1.6rem;

        @include a.respond(phone) {
          content: none;
        }
      }
    }

    &-textbox {
      max-width: 350px;
      @include a.respond(tab-land) {
        max-width: 383px;
      }

      @include a.respond(phone) {
        max-width: 327px;
        margin-top: 36px;
      }
    }

    &--heading {
      margin-bottom: 6px;
    }
  }
}
