@use "../abstracts/" as a;

.booking {
  width: 100%;
  height: 240px;

  background-image: url(/images/homepage/ready-bg-desktop@2x.jpg);
  background-size: cover;
  background-position: center;

  @include a.respond(phone) {
    height: 328px;
  }

  &__container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include a.respond(tab-land) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 70px 0 0 0;
    }

    @include a.respond(phone) {
      max-width: 32.7rem;
    }
  }

  &__heading {
    margin-bottom: 24px;

    @include a.respond(phone) {
      margin-bottom: 20px;
    }
  }
}
